/* Universal Styles */

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background: rgba(243, 243, 243, .8);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1,
h2 {
  font-family: "Damion", cursive;
}

h1 {
  font-size: 3em; 
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 2em;
}

.about-wrapper h1,
.features-section h1,
.events-headline {
  text-decoration: underline;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
}

.feature .content p,
.about-content p {
  color: #4a4a4a;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
} 

/* Header Styles */

header {
  align-items: center;
  background-color: #f3f3f3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

 header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

header .logo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

header .logo a {
  color:#692517;
}

header .fa-mug-hot {
  color: #000;
}

.header-divider {
  background-color:#692517;
  height: 1px;
  margin: 10px 0 20px 0;
  width: 90%;
}

.header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.125em;
  font-weight: 700;
  justify-content: space-around;
  text-transform: uppercase;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
} 

header nav li a {
  color: #692517;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  padding: 0 25px;
  text-transform: uppercase;  
}

header nav li a:hover {
  color: #4d2600;
  font-weight: 700;
}

/* Sign Up Section Styles */

.sign-up-section {
  align-items: center;
  background: url('../img/spilled-coffee-beans-hero-jessica-lewis-unsplash.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  min-height: 500px;
}

.sign-up-cta {
  align-items: center;
  background-color: rgba(105, 37, 23, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 0 30px 40px 30px;
  margin-top: 290px;
  margin-bottom: 60px;
  position: relative;
  right: 5%;
  top: 5%;
}

.sign-up-cta .content {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 32px;
  text-align: center;
}

.sign-up-cta .headline .logo,
.sign-up-cta .headline h1,
.sign-up-cta .email p {
  margin: 0;
}

.sign-up-cta .button {
  background-color: #4d2600;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 80px;
  padding: 10px;
  width: 50%;
}

/* About Us Section */

.about-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.about-content {
  align-items: center;
  background: url('../img/coffee-cup-stain.jpg') top no-repeat;
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  position: relative; 
} 

.about-content:before {
  background: rgb(243, 243, 243, .8);
  content: "";
  height: 100%;
  left: 0;
  opacity: .9; 
  position: absolute;
  top: 0;
  width: 100%;	  
}

.about-content * {
  position: relative;
}  

.about-wrapper {
    width: 90%;
}

.about-section h1 {
  font-size: 3em;
  margin-top: 60px; 
  text-align: center;
}

.about-content p {
  border-left: 1px dotted rgba(105, 37, 23, 0.8);
  border-right: 1px dotted rgba(105, 37, 23, 0.8);
  font-size: 1.2em;
  margin: 0;
  padding: 10px 20px;
}

/* Features Section */

.features-section {
  display: flex;
  flex-flow: column;
  padding: 0;
}

.features-section h1 {
  font-size: 3em;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.feature {
  background-color: white;
  flex: 1;
  margin: 40px 60px;
  padding-top: 40px;
}

.feature .image-container {
  margin: 0 auto;
  width: 80%; 
}

.feature .content {
  margin: 0 80px;
  padding: 20px;
}

.feature .content h2 {
  font-size: 2.5em;
}

.feature .content h3 {
  font-size: 2em;
}

.feature .content h2,
.feature .content h3 {
  text-align: center;
}

/* Events Section */

.events-section {
  background-image: url('../img/coffee-beans-mike-kenneally-unsplash.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding: 20px 0;
}

.events-headline {
  font-size: 3em;
  margin-top: 50px; 
  text-align: center;
}
 
.events-section .content {
  background-color:  rgba(105, 37, 23, 0.8);
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 5px 20px;
}

.events-section .content h3,
.events-section .content p {
  color: white;
}

.events-section .images-container {
  display: flex;
  margin-bottom: 50px;
  max-width: 100%;
  padding: 0 1%;
}

/* Quotes Section */

.quote-section {
  background-color: #f3f3f3;
}

.quote-section .content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 20px;
}

.quote-section .quote {
  color: #4a4a4a;
  font-family: "Rubik", sans-serif;
  font-size: 1.3em;
  font-style: italic;
  padding-right: 20px;
}

.quote-section .quote-citation {
  font-family: "Palatino", serif; 
}

/* Footer */

footer {
  background-color: rgba(105, 37, 23, 0.8);
  padding: 16px 32px;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75em;
  justify-content: center;
}

footer .name {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}


/* --------------------------- TABLET STYLES - HOMEPAGE ------------------------- */

@media only screen and (min-width: 768px){

/* Header */

  .logo {
    font-size: 2.7em;
  }

  header nav li a {
    font-size: 1.3em;
  }

  /* Feature Section */

  .feature .image-container {
    width: 70%; 
  }

  .feature .content {
    margin: 0 100px;
    padding: 20px;
  }
}
/* --------------------------- DESKTOP STYLES - HOMEPAGE ------------------------- */

@media only screen and (min-width: 1200px){

  /* Header */

  .logo {
    font-size: 2.5em;
  }

  header .content-wrapper { 
    justify-content: space-between;
    width: 100%;
  }

  header .logo {
    font-size: 2.3em;
    width: 30%;
  }
  
  .header-divider {
    display: none;
  }

  header nav ul {
    width: 65%;
  } 
  
  header nav li a {
    font-size: 1em;
  }

  /* Sign Up Section */

  .sign-up-cta {
    padding: 10px 40px 50px 40px;
    right: 10%;
  }

  /* About Section */

  .about-content p {
    border-left: 1px dotted rgba(105, 37, 23, 0.8);
    border-right: 1px dotted rgba(105, 37, 23, 0.8);
    font-size: 1.1em;
    margin: 0;
    padding: 20px 50px;
  }

  /* Features Section */

  .features-section {
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .feature .content {
    margin: 0 55px;
    padding: 20px;
  }

  .feature .content h2 {
    font-size: 2em;
  }
    
  .feature .content h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .about-wrapper h1,
  .features-section h1,
  .events-headline {
    margin-bottom: 60px;
  }

  /* Quote Section */

  .quote-section .content {
    margin: 0 100px;
  }
}  