/* Universal Styles */

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background: rgba(243, 243, 243, .8);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1,
h2 {
  font-family: "Damion", cursive;
}

h1 {
  font-size: 2.5em; 
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

.feature .content p,
.about-content p {
  color: #4a4a4a;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header Styles */

header {
  align-items: center;
  background-color: #f3f3f3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

header .logo a {
  color:#692517;
}

header .fa-mug-hot {
  color: #000;
}

.header-divider {
  background-color:#692517;
  height: 1px;
  margin: 10px 0 20px 0;
  width: 90%;
}

.header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.125em;
  font-weight: 700;
  justify-content: space-around;
  text-transform: uppercase;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
} 

header nav li a {
  color: #692517;
  font-family: "Rubik", sans-serif;
  padding: 0 40px;
  text-transform: uppercase;
}

header nav li a:hover {
  color: #4d2600;
  font-weight: 700;
}

/* Sign Up Section Styles */

.sign-up-section {
  align-items: center;
  background: url('../img/spilled-coffee-beans-hero-jessica-lewis-unsplash.png') center no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  min-height: 500px;
}

.sign-up-cta {
  align-items: center;
  background-color: rgba(105, 37, 23, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 0 30px 40px 30px;
  margin-top: 290px;
  margin-bottom: 60px;
  position: relative;
  right: 5%;
  top: 5%;
}

.sign-up-cta .content {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 32px;
  text-align: center;
}

.sign-up-cta .headline .logo,
.sign-up-cta .headline h1,
.sign-up-cta .email p {
  margin: 0;
}

.sign-up-cta .button {
  background-color: #4d2600;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 80px;
  padding: 10px;
  width: 50%;
}

 /* @media only screen and (max-width: 895px) {
  .sign-up-section {
    align-items: center;
    justify-content: flex-end;
  }

  .sign-up-cta {
    background-color: transparent;
    height: auto; 
    width: auto;
    align-items: center;
  }

  .sign-up-cta .content {
    margin-top: 0;
  }

  .sign-up-cta .email {
    display: none;
  }

  .sign-up-cta h1,
  h2 {
    margin: 0;
  }

  .sign-up-cta h1 {
    font-size: 3.125em;
  }

  .sign-up-cta h2 {
    font-size: 2.25em;
  } */
} 


/* About Us Section */

.about-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.about-content {
  align-items: center;
  background: url('../img/coffee-cup-stain.jpg') top left no-repeat;
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  position: relative; 
} 

.about-content:before {
  background: rgb(243, 243, 243, .8);
  content: "";
  height: 100%;
  left: 0;
  opacity: .9; 
  position: absolute;
  top: 0;
  width: 100%;	  
}

.about-content * {
  position: relative;
}  

.about-wrapper {
    width: 90%;
}

.about-content h1 {
  margin-top: 80px; 
  margin-bottom: .75em; 
  text-align: center;
}

.about-content p {
  border-left: 1px dotted rgba(105, 37, 23, 0.8);
  border-right: 1px dotted rgba(105, 37, 23, 0.8);
  margin: 0;
  padding: 20px;
}

/* Features Section */

.features-section {
  display: flex;
  flex-flow: column;
  padding: 0;
}

.features-section h1 {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.feature {
  background-color: white;
  flex: 1;
  margin: 50px 60px;
  padding-top: 40px;
}

.feature .image-container {
  margin: 0 auto;
  width: 80%; 
}

.feature .content {
  margin: 0 80px;
  padding: 20px;
}

.feature .content h2,
.feature .content h3 {
  text-align: center;
}

 /* @media only screen and (max-width: 895px) {
  #features-section {
    padding: 16px;
  }

  .feature {
    margin: 0px 8px;
    padding: 15px;
  }

  .feature h2 {
    font-size: 2em;
    line-height: 1.3;
  }

  .feature h3 {
    font-size: .875em;
    line-height: 1.4;
  }
} */

/* for desktop */

/* .features-section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
} */
  

/* Events Section */

.events-section {
  background-image: url('../img/coffee-beans-mike-kenneally-unsplash.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 20px 0;
}
  
.events-section .content {
  background-color:  rgba(105, 37, 23, 0.8);
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 0 18px;
}

.events-section .content h1 {
  color: white;
  font-family: "Rubik", sans-serif;
}

.events-section .content p {
  color: white;
}

.events-section .images-container {
  display: flex;
  margin-bottom: 50px;
  max-width: 100%;
  padding: 0 1%;
}

/* Quotes Section */

.quotes-section {
  background-color: #f3f3f3;
}

.quotes-section .content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 20px;
}

.quotes-section .quote {
  color: #4a4a4a;
  font-family: "Rubik", sans-serif;
  font-size: 1.3em;
  font-style: italic;
  padding-right: 20px;
}

.quotes-section .quote-citation {
  font-family: "Palatino", serif; 
}

/* Footer */

footer {
  background-color: rgba(105, 37, 23, 0.8);
  padding: 16px 32px;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75em;
  justify-content: center;
}

footer .name {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}


/* --------------------------- TABLET STYLES - HOMEPAGE ------------------------- */


@media only screen and (min-width: 768px){
  header {
    justify-content: space-around;
    padding: 30px 0;
  }

  header .content-wrapper { 
    justify-content: space-around;
    width: 100%;
  }

  header .logo a {
    width: 40%;
  }
  
  .header-divider {
    display: none;
  }

  header nav {
    width: 35%;
  }

  header nav ul {
    justify-content: space-between;
  } 

  header nav li a {
    color: #692517;
    font-family: "Rubik", sans-serif;
    padding: 0 10px;
    text-transform: uppercase;
  }
}